---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import '../styles/pages/home.css';
import { Image } from 'astro:assets';
import heroBg from '../assets/images/hero-bg.webp';
import work1 from '../assets/images/work-1.png';
import work2 from '../assets/images/work-2.png';
import work3 from '../assets/images/work-3.png';
import work4 from '../assets/images/work-4.png';
import IconLogo from '../components/icons/IconLogo.astro';
import IconSun from '../components/icons/IconSun.astro';
import IconRiceFields from '../components/icons/IconRiceFields.astro';
import IconSports1 from '../components/icons/IconSports1.astro';
import IconSports2 from '../components/icons/IconSports2.astro';
import IconSports3 from '../components/icons/IconSports3.astro';
import IconCoffee from '../components/icons/IconCoffee.astro';
import IconDesign1 from '../components/icons/IconDesign1.astro';
import IconDesign2 from '../components/icons/IconDesign2.astro';
import IconHeroDecor from '../components/icons/IconHeroDecor.astro';
import IconWorksDecor from '../components/icons/IconWorksDecor.astro';
import IconShape1 from '../components/icons/IconShape-1.astro';
import IconShape2 from '../components/icons/IconShape-2.astro';
import IconShape3 from '../components/icons/IconShape-3.astro';
import IconShape4 from '../components/icons/IconShape-4.astro';

---

<Layout title="Home" namespace="home">
	<div class="home-hero-wrap">
		<div class="home-hero-bg">
			<div class="home-hero-bg-inner">
				<Image
					class="img-df img-fill"
					src={heroBg}
					alt="Hero Background"
					fetchpriority="high"
					loading="eager"
				/>
			</div>
			<div class="home-hero-bg-overlay"></div>
		</div>
		<section class="home-hero">
			<div class="container grid">
				<div class="home-hero-top top-left">
					<div class="home-hero-desc">
						<p class="txt fs-14 fw-500 trans-upper">&gt; Open for any collaborations and offers</p>
					</div>
					<div class="home-hero-logo">
						<div class="home-hero-logo-ic">
							<IconLogo />
						</div>
					</div>
				</div>
				<div class="home-hero-top top-right">
					<div class="home-hero-top-title">
						<h1 class="heading fs-32 fw-600 trans-upper">
							Creating websites and digital products for great experiences
						</h1>
					</div>
					<div class="home-hero-top-sub">
						<div class="home-hero-top-ic">
							<IconSun />
						</div>
						<h2 class="heading fs-14 fw-500 trans-upper">
							Digital designer <br /> Based in VietNam
						</h2>
					</div>
					<div class="home-hero-top-info">
						<p class="txt fs-14 fw-500 trans-upper">Hanoi, VietNam</p>
						<p class="txt fs-14 fw-500 trans-upper">22:06:16</p>
					</div>
				</div>
				<div class="home-hero-bottom">
					<div class="home-hero-bottom-inner">
						<div class="home-hero-bottom-desc">
							<p class="txt fs-40">
								I find inspiration in the simple things: rice fields <IconRiceFields />, the energy
								of sports <IconSports1 />
								<IconSports2 />
								<IconSports3 />, a good cup of coffee <IconCoffee />, and a deep passion for design <IconDesign1
								/>
								<IconDesign2 />
							</p>
						</div>
						<Button href="/about" class="home-hero-btn">MORE ABOUT US</Button>
					</div>
					<div class="home-hero-empty"></div>
				</div>
			</div>
		</section>
		<div class="home-hero-decor">
			<div class="home-hero-decor-inner">
				<div class="home-hero-decor-svg">
					<IconHeroDecor />
				</div>
			</div>
		</div>
		<div class="home-hero-bg-overlay-main"></div>
	</div>
	<div class="home-works-wrap">
		<div class="home-works home-works--decor">
			<div class="container grid full-h">
				<div class="home-works-decor">
					<div class="home-works-svg">
						<IconWorksDecor />
					</div>
				</div>
			</div>
		</div>
		<section class="home-works home-works--main">
			<div class="container grid full-h">
				<div class="home-works-main">
					<div class="home-works-main-title">
						<h2 class="heading fs-64 fw-700 trans-upper">Works</h2>
					</div>
					<div class="home-works-main-desc">
						<p class="txt fs-14 fw-500">(</p>
						<p class="txt fs-14 fw-500">Selection of featured <br /> work, across industries</p>
						<p class="txt fs-14 fw-500">)</p>
					</div>
				</div>
				<div class="home-works-bottom">
					<div class="home-works-bottom-title">
						<h2 class="heading fs-64 fw-700 trans-upper">
							Ready to help<br />
							with your needs
						</h2>
					</div>
				</div>
			</div>
		</section>
		<div class="home-works-list">
			<div class="home-works-list-inner">
				<a href="#" class="home-works-item">
					<div class="home-works-item-img">
						<Image class="img-df img-fill" src={work1} alt="Work 1" loading="lazy" />
					</div>
				</a>
				<a href="#" class="home-works-item">
					<div class="home-works-item-img">
						<Image class="img-df img-fill" src={work2} alt="Work 2" loading="lazy" />
					</div>
				</a>
				<a href="#" class="home-works-item">
					<div class="home-works-item-img">
						<Image class="img-df img-fill" src={work3} alt="Work 3" loading="lazy" />
					</div>
				</a>
				<a href="#" class="home-works-item">
					<div class="home-works-item-img">
						<Image class="img-df img-fill" src={work4} alt="Work 4" loading="lazy" />
					</div>
				</a>
			</div>
		</div>
		<div class="home-works-trans">
			<div class="home-works-trans-inner">
				<div class="home-works-trans-item">
					<div class="home-works-trans-item-inner">
						<IconShape1 />
					</div>
				</div>
				<div class="home-works-trans-item">
					<div class="home-works-trans-item-inner">
						<IconShape2 />
					</div>
				</div>
				<div class="home-works-trans-item">
					<div class="home-works-trans-item-inner">
						<IconShape3 />
					</div>
				</div>
				<div class="home-works-trans-item">
					<div class="home-works-trans-item-inner">
						<IconShape4 />
					</div>
				</div>
			</div>
		</div>
		<div class="home-works-empty"></div>
	</div>
	<div class="home-how-wrap">
		<section class="home-how">
			<div class="container grid full-h">
				<div class="home-how-main"></div>
			</div>
		</section>
	</div>
</Layout>
