---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import '../styles/pages/home.css';
import { Image } from 'astro:assets';
import heroBg from '../assets/images/hero-bg.webp';
import work1 from '../assets/images/work-1.png';
import work2 from '../assets/images/work-2.png';
import work3 from '../assets/images/work-3.png';
import item1 from '../assets/images/item-1.png';
import item2 from '../assets/images/item-2.png';
import item3 from '../assets/images/item-3.png';
import work4 from '../assets/images/work-4.png';
import IconLogo from '../components/icons/IconLogo.astro';
import IconSun from '../components/icons/IconSun.astro';
import IconRiceFields from '../components/icons/IconRiceFields.astro';
import IconSports1 from '../components/icons/IconSports1.astro';
import IconSports2 from '../components/icons/IconSports2.astro';
import IconSports3 from '../components/icons/IconSports3.astro';
import IconCoffee from '../components/icons/IconCoffee.astro';
import IconDesign1 from '../components/icons/IconDesign1.astro';
import IconDesign2 from '../components/icons/IconDesign2.astro';
import IconHeroDecor from '../components/icons/IconHeroDecor.astro';
import IconWorksDecor from '../components/icons/IconWorksDecor.astro';
import IconShape1 from '../components/icons/IconShape-1.astro';
import IconShape2 from '../components/icons/IconShape-2.astro';
import IconShape3 from '../components/icons/IconShape-3.astro';
import IconShape4 from '../components/icons/IconShape-4.astro';
---

<Layout title="Home" namespace="home">
	<div class="home-hero-wrap">
		<div class="home-hero-bg">
			<div class="home-hero-bg-inner">
				<Image
					class="img-df img-fill"
					src={heroBg}
					alt="Hero Background"
					fetchpriority="high"
					loading="eager"
				/>
			</div>
			<div class="home-hero-bg-overlay"></div>
		</div>
		<section class="home-hero">
			<div class="container grid">
				<div class="home-hero-top top-left">
					<div class="home-hero-desc">
						<p class="txt fs-14 fw-500 trans-upper">&gt; Open for any collaborations and offers</p>
					</div>
					<div class="home-hero-logo">
						<div class="home-hero-logo-ic">
							<IconLogo />
						</div>
					</div>
				</div>
				<div class="home-hero-top top-right">
					<div class="home-hero-top-title">
						<h1 class="heading fs-32 fw-600 trans-upper">
							Creating websites and digital products for great experiences
						</h1>
					</div>
					<div class="home-hero-top-sub">
						<div class="home-hero-top-ic">
							<IconSun />
						</div>
						<h2 class="heading fs-14 fw-500 trans-upper">
							Digital designer <br />Based in VietNam
						</h2>
					</div>
					<div class="home-hero-top-info">
						<p class="txt fs-14 fw-500 trans-upper">Hanoi, VietNam</p>
						<p class="txt fs-14 fw-500 trans-upper">22:06:16</p>
					</div>
				</div>
				<div class="home-hero-bottom">
					<div class="home-hero-bottom-inner">
						<div class="home-hero-bottom-desc">
							<p class="txt fs-40">
								I find inspiration in the simple things: rice fields <IconRiceFields />, the energy
								of sports <IconSports1 />
								<IconSports2 />
								<IconSports3 />, a good cup of coffee <IconCoffee />, and a deep passion for design <IconDesign1
								/>
								<IconDesign2 />
							</p>
						</div>
						<Button href="/about" class="home-hero-btn">MORE ABOUT US</Button>
					</div>
					<div class="home-hero-empty"></div>
				</div>
			</div>
		</section>
		<div class="home-hero-decor">
			<div class="home-hero-decor-inner">
				<div class="home-hero-decor-svg">
					<IconHeroDecor />
				</div>
			</div>
		</div>
		<div class="home-hero-bg-overlay-main"></div>
	</div>
	<div class="home-works-wrap">
		<div class="home-works home-works--decor">
			<div class="container grid full-h">
				<div class="home-works-decor">
					<div class="home-works-svg">
						<IconWorksDecor />
					</div>
				</div>
			</div>
		</div>
		<section class="home-works home-works--main">
			<div class="container grid full-h">
				<div class="home-works-main">
					<div class="home-works-main-title">
						<h2 class="heading fs-64 fw-700 trans-upper">Works</h2>
					</div>
					<div class="home-works-main-desc">
						<p class="txt fs-14 fw-500">(</p>
						<p class="txt fs-14 fw-500">Selection of featured <br />work, across industries</p>
						<p class="txt fs-14 fw-500">)</p>
					</div>
				</div>
				<div class="home-works-bottom">
					<div class="home-works-bottom-title">
						<h2 class="heading fs-64 fw-700 trans-upper">
							Ready to help <br />
							with your needs
						</h2>
					</div>
				</div>
			</div>
		</section>
		<div class="home-works-list">
			<div class="home-works-list-inner">
				<a href="#" class="home-works-item">
					<div class="home-works-item-img">
						<Image class="img-df img-fill" src={work1} alt="Work 1" loading="lazy" />
					</div>
				</a>
				<a href="#" class="home-works-item">
					<div class="home-works-item-img">
						<Image class="img-df img-fill" src={work2} alt="Work 2" loading="lazy" />
					</div>
				</a>
				<a href="#" class="home-works-item">
					<div class="home-works-item-img">
						<Image class="img-df img-fill" src={work3} alt="Work 3" loading="lazy" />
					</div>
				</a>
				<a href="#" class="home-works-item">
					<div class="home-works-item-img">
						<Image class="img-df img-fill" src={work4} alt="Work 4" loading="lazy" />
					</div>
				</a>
			</div>
		</div>
		<div class="home-works-trans">
			<div class="home-works-trans-inner">
				<div class="home-works-trans-item">
					<div class="home-works-trans-item-inner">
						<IconShape1 />
					</div>
				</div>
				<div class="home-works-trans-item">
					<div class="home-works-trans-item-inner">
						<IconShape2 />
					</div>
				</div>
				<div class="home-works-trans-item">
					<div class="home-works-trans-item-inner">
						<IconShape3 />
					</div>
				</div>
				<div class="home-works-trans-item">
					<div class="home-works-trans-item-inner">
						<IconShape4 />
					</div>
				</div>
			</div>
		</div>
		<div class="home-works-empty"></div>
	</div>
	<div class="home-how-wrap">
		<section class="home-how">
			<div class="container grid">
				<div class="home-how-intro">
					<div class="home-how-intro-desc">
						<p class="txt fs-14">
							Discover the amazing features of our <br />software that can transform your workflow<br
							/>and boost productivity!
						</p>
					</div>
				</div>
				<div class="home-how-content">
					<div class="home-how-content-inner">
						<div class="home-how-content-list">
							<div class="home-how-content-item">
								<div class="home-how-content-item-left">
									<div class="home-how-content-item-title">
										<p class="heading fs-40 fw-700 trans-upper">
											Digital <br />Creative <br />Design
										</p>
									</div>
									<div class="home-how-content-item-ic">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="100%"
											viewBox="0 0 12 24"
											fill="none"
										>
											<path
												d="M11.7363 24.001C11.7363 17.5197 6.48221 12.2656 0.000927925 12.2656C0.000927925 18.7469 5.25504 24.001 11.7363 24.001Z"
												fill="currentColor"></path>
											<path
												d="M11.7363 0.000927925C11.7363 6.48221 6.48221 11.7363 0.000927925 11.7363C0.000927925 5.25504 5.25504 0.000927925 11.7363 0.000927925Z"
												fill="currentColor"></path>
										</svg>
									</div>
								</div>
								<div class="home-how-content-item-right">
									<div class="home-how-content-item-ic">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="100%"
											viewBox="0 0 12 24"
											fill="none"
										>
											<path
												d="M0.0010252 24.001C0.0010252 17.5197 5.25514 12.2656 11.7364 12.2656C11.7364 18.7469 6.48231 24.001 0.0010252 24.001Z"
												fill="currentColor"></path>
											<path
												d="M0.0010252 0.000927925C0.0010252 6.48221 5.25514 11.7363 11.7364 11.7363C11.7364 5.25504 6.48231 0.000927925 0.0010252 0.000927925Z"
												fill="currentColor"></path>
										</svg>
									</div>
									<div class="home-how-content-item-text">
										<div class="home-how-content-item-label">
											<p class="txt fs-14 fw-500 trans-upper">
												Here’s what I can <br />do for you:
											</p>
										</div>
										<div class="home-how-content-item-type">
											<p class="txt fs-14 fw-600 trans-upper">Identity</p>
										</div>
										<div class="home-how-content-item-value">
											<p class="txt fs-14 fw-600 trans-upper">Visual Systems</p>
										</div>
									</div>
								</div>
							</div>
							<div class="home-how-content-item">
								<div class="home-how-content-item-left">
									<div class="home-how-content-item-title">
										<p class="heading fs-40 fw-700 trans-upper">Web <br />Development</p>
									</div>
									<div class="home-how-content-item-ic">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="100%"
											viewBox="0 0 12 24"
											fill="none"
										>
											<path
												d="M11.7363 24.001C11.7363 17.5197 6.48221 12.2656 0.000927925 12.2656C0.000927925 18.7469 5.25504 24.001 11.7363 24.001Z"
												fill="currentColor"></path>
											<path
												d="M11.7363 0.000927925C11.7363 6.48221 6.48221 11.7363 0.000927925 11.7363C0.000927925 5.25504 5.25504 0.000927925 11.7363 0.000927925Z"
												fill="currentColor"></path>
										</svg>
									</div>
								</div>
								<div class="home-how-content-item-right">
									<div class="home-how-content-item-ic">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="100%"
											viewBox="0 0 12 24"
											fill="none"
										>
											<path
												d="M0.0010252 24.001C0.0010252 17.5197 5.25514 12.2656 11.7364 12.2656C11.7364 18.7469 6.48231 24.001 0.0010252 24.001Z"
												fill="currentColor"></path>
											<path
												d="M0.0010252 0.000927925C0.0010252 6.48221 5.25514 11.7363 11.7364 11.7363C11.7364 5.25504 6.48231 0.000927925 0.0010252 0.000927925Z"
												fill="currentColor"></path>
										</svg>
									</div>
									<div class="home-how-content-item-text">
										<div class="home-how-content-item-label">
											<p class="txt fs-14 fw-500 trans-upper">
												Here’s what I can <br />do for you:
											</p>
										</div>
										<div class="home-how-content-item-type">
											<p class="txt fs-14 fw-600 trans-upper">Framer</p>
										</div>
										<div class="home-how-content-item-value">
											<p class="txt fs-14 fw-600 trans-upper">webflow</p>
										</div>
									</div>
								</div>
							</div>
							<div class="home-how-content-item">
								<div class="home-how-content-item-left">
									<div class="home-how-content-item-title">
										<p class="heading fs-40 fw-700 trans-upper">Brand <br />Identity</p>
									</div>
									<div class="home-how-content-item-ic">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="100%"
											viewBox="0 0 12 24"
											fill="none"
										>
											<path
												d="M11.7363 24.001C11.7363 17.5197 6.48221 12.2656 0.000927925 12.2656C0.000927925 18.7469 5.25504 24.001 11.7363 24.001Z"
												fill="currentColor"></path>
											<path
												d="M11.7363 0.000927925C11.7363 6.48221 6.48221 11.7363 0.000927925 11.7363C0.000927925 5.25504 5.25504 0.000927925 11.7363 0.000927925Z"
												fill="currentColor"></path>
										</svg>
									</div>
								</div>
								<div class="home-how-content-item-right">
									<div class="home-how-content-item-ic">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="100%"
											viewBox="0 0 12 24"
											fill="none"
										>
											<path
												d="M0.0010252 24.001C0.0010252 17.5197 5.25514 12.2656 11.7364 12.2656C11.7364 18.7469 6.48231 24.001 0.0010252 24.001Z"
												fill="currentColor"></path>
											<path
												d="M0.0010252 0.000927925C0.0010252 6.48221 5.25514 11.7363 11.7364 11.7363C11.7364 5.25504 6.48231 0.000927925 0.0010252 0.000927925Z"
												fill="currentColor"></path>
										</svg>
									</div>
									<div class="home-how-content-item-text">
										<div class="home-how-content-item-label">
											<p class="txt fs-14 fw-500 trans-upper">
												Here’s what I can <br />do for you:
											</p>
										</div>
										<div class="home-how-content-item-type">
											<p class="txt fs-14 fw-600 trans-upper">Identity</p>
										</div>
										<div class="home-how-content-item-value">
											<p class="txt fs-14 fw-600 trans-upper">Visual Systems</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="home-how-thumb">
					<div class="home-how-thumb-inner">
						<div class="home-how-thumb-item">
							<div class="home-how-thumb-item-inner">
								<Image class="img-df img-fill" src={item1} alt="item 1" />
							</div>
						</div>
						<div class="home-how-thumb-item">
							<div class="home-how-thumb-item-inner">
								<Image class="img-df img-fill" src={item2} alt="item 2" />
							</div>
						</div>
						<div class="home-how-thumb-item">
							<div class="home-how-thumb-item-inner">
								<Image class="img-df img-fill" src={item3} alt="item 3" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</Layout>
